<hr>

<div class="app-mensajes" id="app-mensajes">
    
    <div *ngFor="let chat of chatService.chats"
        [ngClass]="{'text-right': chatService.user.uid == chat.uid}">
        <span class="badge" [ngClass]="{'badge-primary': chatService.user.uid == chat.uid,
                                        'badge-success': chatService.user.uid != chat.uid}">
            {{chat.nombre}}
        </span>
        <p>{{chat.mensaje}}</p>
    </div>

    <!-- <div>
        <span class="badge badge-success">Persona2</span>
        <p>Mensaje de prueba 2</p>
    </div> -->
</div>

<input type="text" class="form-control" name="mensaje" [(ngModel)]="mensaje" placeholder="Enviar mensaje" (keyup.enter)="enviarMensaje()">